.hoiku-header
  .hoiku-header_name
    AA保育園
  .hoiku-header_keizi
    掲示板
  .hoiku-header_create
    =form_with do |f|
      =f.button "投稿する", class: "sidebar_btn", onclick: "location.href='tweets/new'"