.sidebar
  .sidebar_group
    .sidebar_group_name
      = link_to "今日の保育園", root_path, class: 'sidebar_group_name-1'
  .sidebar_group
    .sidebar_group_name
      = link_to "給食通信", recipes_path, class: 'sidebar_group_name-1'
  .sidebar_group
    .sidebar_group_name
      = link_to "保健通信", medicals_path, class: 'sidebar_group_name-1'
    