.hoiku_main_recipe{
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  position: relative;

  
  }

  .hoiku_main_message1_content2{
    font-size: 20px;
    font-family: arial, sans-serif;
    text-align: center;
  }