.new_content_create_recipe{
    height: 1200px;
    width: 1000px;
    background-color: powderblue;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
    color: whitesmoke;
    font-size: 50px;
    padding-top: 10px;
    text-align: center;
    font-family: arial, sans-serif;
}


.recipe_space{
  height: 600px;
  width: 800px;
  font-size: 20px;

}

.food_space{
  height: 200px;
  width: 800px;
  font-size: 20px;
  margin-top: 50px;
}

.hoiku_main_recipe1-image{
  padding-left: 250px;
  padding-top: 50px;
}